
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Ubuntu+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

    font-family: 'Titillium',sans-serif;
    font-size: 400;
}

body{
    background-color: rgb(136, 136, 136);
}


.navbar {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid black;
    background-color: #333;
}

.navbar a {
    color: white;
}

.navbar .logo {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-size: 48px;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    position: relative;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
    margin: 0 25px;
}

.nav-links li::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.nav-links li:hover::before {
    width: 100%;
}


main{
    border: 3px solid black;
    border-top-left-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 100vh;
    background-color: white;
    color: black;
    margin-left: 25%;
    margin-right: 25%;
    overflow-y: scroll;
    scrollbar-width: auto;

    padding: 50px;
    text-align: justify;
}
main p{
    padding-top: 30px;
}
main h1{
    text-align: center;
    margin-bottom: 30px;
}
main h3{
    padding-top: 3rem;
}

main .image{
    width: 400px;

}

main ul{
    padding-top: 10px;
    padding-left: 50px;
}
main ul li{
    list-style: decimal;
    font-weight: bold;
}

main .firstImg,
main .secondImg,
main .thirdImg,
main .fourthImg,
main .firstLogo{
    display: flex;
    align-items: center;
}
main .firstImg p,
main .thirdImg p{
    padding-right: 20px;
}
main .secondImg article,
main .fourthImg p,{
    padding-left: 20px;
}

main .univLogo{
    width: 600px;
    display: block;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer .contact h3,
.footer .about h3 {
    margin-bottom: 10px;
}

.footer .contact ul li,
.footer .about ul li {
    list-style: none;
}

.footer .bottom-footer {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #444;
    margin-top: 20px;
}

.top-footer {
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
}

.footer .contact,
.footer .about {
    display: block;
}

.footer .contact ul,
.footer .about ul {
    padding-top: 20px;
}

.footer .contact ul li a,
.footer .about ul li a {
    color: #fff;
}

.copyright{
    text-align: center;
}
@media screen and (max-width: 950px) {
    .nav-links {
        display: none;
    }

    .title h1 {
        font-size: 50px;
        margin-bottom: -10px;
    }

    .title h3 {
        font-size: 1rem;
    }
}
